<%- include('partials/newheader') %>
<center>
<h2>Clues</h2>

<h4>Puzzle 1</h4>
<table style="border: 1px solid white; width: 65%;">
    <th class="tablepad txt-center thcolor">No</th>
    <th class="tablepad thcolor">Clue</th>
    <colgroup>
        <col span="1" style="width: 5%">
        <col span="1" style="width: 60%;">
     </colgroup>
    <tr>
        <td><p class="leaderboard">1</p></td>
        <td><p>Don't share your keyword</p></td>
    </tr>
    <tr>
        <td><p class="leaderboard">2</p></td>
        <td><p>Encode the Keyword (Hashed)</p></td>
    </tr>
</table>

<h4>Puzzle 2</h4>
<table style="border: 1px solid white; width: 65%;">
    <th class="tablepad txt-center thcolor">No</th>
    <th class="tablepad thcolor">Clue</th>
    <colgroup>
        <col span="1" style="width: 5%">
        <col span="1" style="width: 60%;">
     </colgroup>
    <tr>
        <td><p class="leaderboard">1</p></td>
        <td><p>Multiply</p></td>
    </tr>
    <tr>
        <td><p class="leaderboard">2</p></td>
        <td><p>6 digit</p></td>
    </tr>
</table>

<h4>Puzzle 2</h4>
<table style="border: 1px solid white; width: 65%;">
    <th class="tablepad txt-center thcolor">No</th>
    <th class="tablepad thcolor">Clue</th>
    <colgroup>
        <col span="1" style="width: 5%">
        <col span="1" style="width: 60%;">
     </colgroup>
    <tr>
        <td><p class="leaderboard">1</p></td>
        <td><p>Form a Link</p></td>
    </tr>
    <tr>
        <td><p class="leaderboard">2</p></td>
        <td><p>Decode (Cryptii.com) </p></td>
    </tr>
</table>
</center>



<%- include('partials/footer') %>