<%- include('partials/newheader') %>
      <center>
          <div>
            
              <p style="position: absolute;
              top: 80px;
              left: 16px;">&#9733;</p>
              
            <br>
              <p class="w-50 p-3" style="background-color: gray;">You have to find most commonly used keyword</p>
                <form action="/timertest1" method="POST">
            <div class="input-group mb-3 w-75 p-2">
                <input type="text" name="val" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="answer">
              </div>
              <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
             
              <p style="width: 30%">
                There were many and they were neatly stacked 
inside my suave computer that once was hacked 
when it came to content well, I know they lacked 
but if I had a stick, at least they would be backed</p>

<p style="width: 30%">When it came to poetry well, I was the cat's meow 
    but when it came to computers I could not avow 
    each poem contained I little bit of sweet endow qwerty 
    One day I lost it all my friend, nearly had a cow </p>
    
    <p style="width: 30%">The poems I almost wrote still sit inside my head
        but I know those sneaky hackers, use power led 
        so now I hide my led lights and keep it all unsaid 
        each word still lives in me, my poetry isn't dead.  
    </p>
</div>
</center>
<%- include('partials/footer') %>