<%- include('partials/newheader') %>
      <center>
          <div>
            <!-- <p style="
                position: absolute;
                top: 80px;
                right: 30px;
              ">timer</p> -->
              <p style="position: absolute;
              top: 80px;
              left: 16px;">&#9733; &#9733; &#9733;</p>
              
            <br>
              <p class="w-50 p-3" style="background-color: gray;">64 64 64 2e 6c 53 70 61 74 62 7a 2e 6a 76 74</p>
                <form action="/timertest3" method="POST">
            <div class="input-group mb-3 w-75 p-2">
                <input type="text" name="val" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="answer">
              </div>
              <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
</center>
<%- include('partials/footer') %>
