<%- include('partials/newheader') %>
<center>
<h2>Instructions</h2>

<table style="border: 1px solid white; width: 65%;">
    <th class="tablepad txt-center thcolor" >No</th>
    <th class="tablepad thcolor" style="text-align: left;">Instruction</th>
    <colgroup>
        <col span="1" style="width: 5%">
        <col span="1" style="width: 60%;">
     </colgroup>
    <tr>
        <td><p class="leaderboard">1</p></td>
        <td><p>You can't directly start the next puzzle unless you complete the first one.</p></td>
    </tr>
    <tr>
        <td><p class="leaderboard">2</p></td>
        <td><p>Once you complete the puzzle it will show Green Mark.</p></td>
    </tr>
    <tr>
        <td><p class="leaderboard">3</p></td>
        <td><p>Timer will start automatically.</p></td>
    </tr>
    <tr>
        <td><p class="leaderboard">4</p></td>
        <td><p>You will not be able to solve previously submited puzzle.</p></td>
    </tr>
    <tr>
        <td><p class="leaderboard">5</p></td>
        <td><p>Each task has 2 clues given in Navigation Bar.</p></td>
    </tr>
    <tr>
        <td><p class="leaderboard">6</p></td>
        <td><p>A Warning will pop up if you submit wrong answer.</p></td>
    </tr>
    <tr>
        <td><p class="leaderboard">7</p></td>
        <td><p>After submiting puzzle successfully you will be redirected to home page to solve next puzzle.</p></td>
    </tr>
    <tr>
        <td><p class="leaderboard">8</p></td>
       <td><p >You will get 1 star for each level you complete.</p></td>
    </tr>
    <tr>
        <td><p class="leaderboard">9</p></td>
       <td><p >Your Rank will be calculated as per the time required to complete the Puzzle.</p></td>
    </tr>
</table>
</center>



<%- include('partials/footer') %>