<%- include('partials/newheader') %>
<h2>Hiii ... <%= userName %></h2>
      <center>
        <h1>Lets get Started</h1>
        <p>once you started the puzzle the timer will be started automatically</p>
        <!-- <form action="/timertest" method="POST"> -->

            <!-- <div class="form-group">
              <input type="text" class="form-control text-center" name="secret" placeholder="What's your secret?">
            </div> -->
            <!-- <button type="submit" class="btn btn-dark">Submit</button> -->
          <!-- </form> -->
          <table >
            <tr>
              <td style="padding: 15px 30px">
                <a class="btn btn-light btn" href="/timertest1" role="button">Puzzle 1</a>
              </td>
              <td style="padding: 5px 30px">
                <% if(usersWithSecrets.task1 === "completed") { %>
                  <p style="color: green; font-size: 40px; text-align: center;">&#10003;</p>
                  
               <% } %>

              </td>
            </tr>
            <tr>
              <td style="padding: 15px 30px">
                <a class="btn btn-light btn" href="/timertest2" role="button">Puzzle 2</a>
              </td>
              <td style="padding: 5px 30px">
                <% if(usersWithSecrets.task2 === "completed") { %>
                  <p style="color: green; font-size: 40px; text-align: center;">&#10003;</p>
                  
               <% } %>
              </td>
            </tr>
            <tr>
              <td style="padding: 15px 30px">
                <a class="btn btn-light btn" href="/timertest3" role="button">Puzzle 3</a>
              </td>
              <td style="padding: 5px 30px">
                <% if(usersWithSecrets.task3 === "completed") { %>
                  <p style="color: green; font-size: 40px; text-align: center;">&#10003;</p>
                  
               <% } %>
              </td>
            </tr>
          </table>
          <br>
          <br><br>
      </center>
<%- include('partials/footer') %>