<%- include('partials/newheader') %>
      <center>
          <div>
            
              <p style="position: absolute;
              top: 80px;
              left: 16px;">&#9733; &#9733;</p>
              
            <br>
              <p class="w-50 p-3" style="background-color: gray;">Find the Number</p>
                <form action="/timertest2" method="POST">
            <div class="input-group mb-3 w-75 p-2">
                <input type="text" name="val" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="answer">
              </div>
              <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
              <img src="https://imgd.aeplcdn.com/0x0/n/cw/ec/56291/toyota-fortuner-dashboard4.jpeg?wm=1" alt="" height="300px" width="40%" style="padding: 10px;">
               <p style="width: 30%">
               The price of Toyota Fortuner starts at Rs. 32.59 Lakh and goes upto Rs. 50.34 Lakh. 
               Toyota Fortuner is offered in 7 variants - the base model of Fortuner is 
               4X2 and the top variant Toyota Fortuner GR S 4X4 Diesel AT which comes at a 
               price tag of Rs. 50.34 Lakh.</p>
</div> 
</center>
<%- include('partials/footer') %>